<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

    <li sec:authorize="isAnonymous()">
    <form th:action="@{/authenticateTheUser}" method="POST">


        <input type="text" placeholder="Логин" name="username">
        <input type="text" placeholder="Пароль" name="password">

        <button type="submit"> Войти </button>
    </form>
    </li>

    <li sec:authorize="isAuthenticated">
        <h2 th:text="'Пользователь: ' + ${name}"></h2>
    </li>


    <form th:action="@{/products}" method="get">

        <input th:value="${word != null} ? ${word}" name="word" placeholder="Слово" class="form-control"/>
        <input th:value="${minPrice != null} ? ${minPrice}" name="minPrice" placeholder="Минимальная цена" class="form-control"/>
        <input th:value="${maxPrice != null} ? ${maxPrice}" name="maxPrice" placeholder="Максимальная цена" class="form-control"/>

        <button type="submit">Фильтровать</button>

    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
               <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть "/>
               <a th:href="@{'/products/delete/' + ${product.id}}" th:text="Удалить "/>
            </td>
        </tr>

        </tbody>
    </table>

    <br>

   <!-- <form th:action="@{/products/add}" th:object="${product}" method="post">
        <input th:field="*{id}" placeholder="id">
        <input th:field="*{title}" placeholder="title">
        <input th:field="*{price}" placeholder="price">

        <button type="submit">
            Add
        </button>

    </form>
-->

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/add}">Добавить товары</a>

    <span th:text="${'Всего товаров ' + products.size()}"></span>

    <br>
    <span th:text="${'Top 3 Products: ' + top3List}"/>

</div>

</body>
</html>

